openapi: 3.1.0
info:
  title: Azure Site Recovery REST RecoveryPlans API
  description: 'Azure Site Recovery REST API provides management of disaster recovery for

    Azure VMs, on-premises VMs, and physical servers via Azure Resource Manager.

    Supports configuring replication, running test failovers, executing planned

    and unplanned failovers, and managing recovery plans on Recovery Services

    vaults. Authentication uses Azure AD OAuth 2.0 bearer tokens.

    '
  version: '2026-02-01'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: Microsoft Terms of Use
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- azure_auth:
  - user_impersonation
tags:
- name: RecoveryPlans
  description: Manage recovery plans for orchestrated failover
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationRecoveryPlans
  : get:
      tags:
      - RecoveryPlans
      summary: List recovery plans
      operationId: recoveryPlans_list
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: OK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationRecoveryPlans/{recoveryPlanName}
  : get:
      tags:
      - RecoveryPlans
      summary: Get a recovery plan
      operationId: recoveryPlans_get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - name: recoveryPlanName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: OK
    put:
      tags:
      - RecoveryPlans
      summary: Create or update a recovery plan
      operationId: recoveryPlans_create
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - name: recoveryPlanName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
    delete:
      tags:
      - RecoveryPlans
      summary: Delete a recovery plan
      operationId: recoveryPlans_delete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - name: recoveryPlanName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '204':
          description: No Content
components:
  parameters:
    resourceName:
      name: resourceName
      in: path
      required: true
      description: Name of the Recovery Services Vault
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 90
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
    apiVersion:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: '2026-02-01'
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth 2.0 bearer token
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
